# dependencies
.yarn
.pnp.js
.pnp.cjs
.yarnrc.yml

# testing
/coverage

# Storybook cache
/node_modules/.cache

# next.js
/.next
/public/sw*
/public/workbox*

# Lighthouse
.lighthouseci

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
