#helpjuice-widget .article .footer {
  /* Hide the estimated reading time and last updated time in search results */
  display: none !important;
}

#helpjuice-widget.bottomRight {
  right: 130px !important;
  bottom: 170px !important;
}

@media (max-width: 900px) {
  #helpjuice-widget.bottomRight {
    right: 100px !important;
  }
}

@media (max-width: 600px) {
  #helpjuice-widget.bottomRight {
    right: 90px !important;
  }
}
