#helpjuice-widget .article .footer {
  /* Hide the estimated reading time and last updated time in search results */
  display: none !important;
}

/*
 * The default height of #helpjuice-widget-expanded is 620px and #helpjuice-widget-content is 500px.
 * It fits well when the screen is 800px. However, on smaller screens, the widget content height
 * should be be 300px less than the screen height. And the widget itself should be 120px taller than
 * the content.
 */
#helpjuice-widget #helpjuice-widget-expanded {
  --content-height: min(100vh - 300px, 500px);
  height: calc(var(--content-height) + 120px) !important;
}

#helpjuice-widget #helpjuice-widget-expanded #helpjuice-widget-content {
  height: var(--content-height) !important;
}

#helpjuice-widget.bottomRight {
  right: 130px !important;
}

/* Move the beacon higher from the bottom when it is not expanded */
#helpjuice-widget.bottomRight:has(#helpjuice-widget-expanded:not(.hj-shown)) {
  bottom: 170px !important;
}

/* If the browser doesn't support :has and :not selectors, always move the beacon higher. */
@supports not selector(:has(*):not(*)) {
  #helpjuice-widget.bottomRight {
    bottom: 170px !important;
  }
}

@media (max-width: 900px) {
  #helpjuice-widget.bottomRight {
    right: 100px !important;
  }
}

@media (max-width: 600px) {
  #helpjuice-widget.bottomRight {
    right: 90px !important;
  }
}
