.BeaconFabButtonFrame {
  right: 70px !important;
  bottom: 30px !important;
}

@media only screen and (max-width: 900px) {
  .BeaconFabButtonFrame {
    right: 40px !important;
    bottom: 25px !important;
  }
}

@media only screen and (max-width: 600px) {
  .BeaconFabButtonFrame {
    right: 30px !important;
    bottom: 30px !important;
  }
}

.BeaconContainer {
  right: 20px !important;
  bottom: 90px !important;
  z-index: 1350 !important;
}
.BeaconFabButtonFrame {
  z-index: 1500 !important;
}
